.expense-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
  }
  
  .expense-form input,
  .expense-form button {
    padding: 10px;
    font-size: 16px;
  }
  
  .expense-form input {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .expense-form button {
    background-color: #046a08;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-style: italic;
  }
  
  .expense-form button:hover {
    background-color: #21f528;
  }
  