
body {
  background: linear-gradient(135deg, black, purple, black, #1e90ff); 
  height: 100vh; 
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-style: italic;
  color: antiquewhite;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px black;
  font-size: 50px;
  word-spacing: 7px;
}

.app-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.app-container h1 span {
  color: green;
  font-style: italic;
}