.search-bar {
    width: 600px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #444;
    display: flex;
    align-items: center;
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 44px;
    
  }
  
  .search-bar::placeholder {
    color: lightgray;
    font-style: italic;
  }
