.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .transactions-table th, .transactions-table td {
    border: 0.1px solid green;
    padding: 8px;
    text-align: left;
    color: aliceblue;
  }
  
  .transactions-table th {
    background-color: gray;
    font-weight: bold;
    border: 0.2px solid blue;
  }
  
 
  
  .transactions-table tr:hover {
    background-color: green;
  }
  